.board {
    position: relative;
    width: 500px;
    height: 500px;
    display: inline-block;
}

.field-canvas {
    position: absolute;
    z-index: 1;
}

.ships-canvas {
    position: absolute;
    z-index: 2;
}

.markers-canvas {
    position: absolute;
    z-index: 3;
}