html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.board {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    border: 1px solid black;
    aspect-ratio: 0.86;
    overflow: hidden;
}

.field-canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.interaction-canvas {
    position: absolute;
    z-index: 2;
}

.ships-canvas {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.markers-canvas {
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

.ship-selector {
    display: inline-block;
}

.ship-selector .selected button {
    background-color: black;
    color: white;
}