.board {
    position: relative;
    width: 500px;
    height: 500px;
    display: inline-block;
}

.field-canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.interaction-canvas {
    position: absolute;
    z-index: 2;
}

.ships-canvas {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.markers-canvas {
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

.ship-selector {
    display: inline-block;
}

.ship-selector .selected button {
    background-color: black;
    color: white;
}